body {
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    background-color: #e5e5e5;
    padding: 20px;
}

.preview-container {
    width: 40%;
    position: relative;
    border-radius: 40px;
    padding: 15px;
    background-color: #fff;
}

.top-right-corner {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    border-radius: 0 40px 0 0;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.logo {
    margin-left: -30px;
}

.header-right {
    color: #fff;
    z-index: 1;
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.globe {
    width: 28px;
    height: 28px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 395px;
    position: relative;
    margin-top: 90px;
}

.intro::before {
    content: "";
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    opacity: 0.03;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.intro-title {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 75px;
}

.subtitle {
    font-size: 25px;
    font-weight: 600;
    color: #231f20;
    text-transform: uppercase;
}

.head-title {
    font-size: 40px;
    font-weight: bold;
    color: #bd3d31;
    text-transform: uppercase;
}

.intro-body {
    align-self: flex-start;
    position: relative;
    font-size: 18px;
}

.btn {
    width: 260px;
    height: 53px;
    align-self: flex-end;
    border: 0;
    border-radius: 137px;
    background-color: #bd3d31;
    color: #fff;
    font-size: 18px;
    line-height: 50px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12),
        0px 2px 5px rgba(0, 0, 0, 0.16);
}

.news-section {
    margin-bottom: 30px;
}

.top-divider {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.divider-title {
    flex-grow: 0;
    margin-right: 20px;
    text-transform: uppercase;
}

.divider {
    flex-grow: 1;
    height: 1px;
    background-color: rgba(35, 31, 32, 0.12);
}

.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 10px;
}

.shape-full {
    width: 100%;
}

.shape-half {
    width: 49%;
}

.image {
    width: 100%;
    max-height: 244px;
    object-fit: cover;
}

.news-image {
    border-radius: 8px 8px 0 0;
}

.news-text {
    padding: 0 20px;
}

.news-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 22px;
    color: #0c1014;
}

.news-desc {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: rgba(35, 31, 32, 0.54);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .preview-container {
        width: 680px;
        padding: 0 60px;
    }

    .top-right-corner {
        width: 340px;
        height: 256px;
    }
}
